<div class="card">
  <div class="card-header">Pridėti naują receptą</div>
  <div class="card-body">
    <form [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
      <div class="mb-3">
        <label for="name" class="form-label">Recepto pavadinimas:</label>
        <input
          id="name"
          class="form-control"
          formControlName="name"
          placeholder="Pavadinimas"
        />
        <span
          *ngIf="
            !recipeForm.get('name')?.valid && recipeForm.get('name')?.touched
          "
          >Pavadinimas įvestas neteisingai</span
        >
      </div>
      <div class="mb-3">
        <label for="preparationTime" class="form-label"
          >Pasiruošimo laikas (minutėmis):</label
        >
        <input
          type="number"
          id="preparationTime"
          class="form-control"
          formControlName="preparationTime"
        />
        <span
          *ngIf="
            !recipeForm.get('preparationTime')?.valid &&
            recipeForm.get('preparationTime')?.touched
          "
          >Trukmė įvesta neteisingai (vedama 5 min. intervalais)</span
        >
      </div>
      <div class="mb-3">
        <label for="mealTime">Rekomenduojamas laikas:</label>
        <select id="mealTime" formControlName="mealTime" class="form-select">
          <option value="breakfast">Pusryčiai</option>
          <option value="lunch">Priešpiečiai</option>
          <option value="dinner">Pietūs</option>
          <option value="eveningMeal">Vakarienė</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Aprašymas:</label>
        <textarea
          id="description"
          class="form-control textareanimation"
          [@textareanimation]="textArea"
          formControlName="description"
          (focus)="onFocus()"
          (focusout)="onFocusOut()"
        >
Įveskite recepto aprašymą.</textarea
        >
        <span
          *ngIf="
            !recipeForm.get('description')?.valid &&
            recipeForm.get('description')?.touched
          "
          >Aprašymas privalomas</span
        >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Nuoroda į nuotrauką:</label>
        <input
          id="image"
          class="form-control"
          formControlName="image"
          placeholder="URL://..."
        />
        <span
          *ngIf="
            !recipeForm.get('image')?.valid && recipeForm.get('image')?.touched
          "
          >Netinkama nuoroda</span
        >
      </div>
      <div class="mb-3">
        <label for="kcal" class="form-label">Kalorijos:</label>
        <input
          type="number"
          id="kcal"
          class="form-control"
          formControlName="kcal"
        />
      </div>

      <hr />
      <div formArrayName="allergens">
        <h4>Alergenai</h4>
        <div
          *ngFor="let phoneControl of allergens(); let i = index"
          class="mb-3"
        >
          <input type="text" class="form-control" [formControlName]="i" />
        </div>
      </div>
      <button type="button" class="btn btn-info" (click)="addAllergens()">
        Pridėti Alergeną
      </button>
      <button
        type="button"
        class="btn btn-danger float-end"
        (click)="deleteAllergens()"
      >
        Ištrinti Alergeną
      </button>
      <hr />

      <div formArrayName="ingredients">
        <h4>Ingridientai</h4>
        <div
          class="mb-3 row"
          *ngFor="let ingredient of ingredients(); let i = index"
          [formGroup]="abstractToFormGroup(ingredient)"
        >
          <div class="col-md-5">
            <select class="form-control" formControlName="name">
              <option value="">Pasirinkti</option>
              <option *ngFor="let ingridient of ingridients">
                {{ ingridient.ingridient }}
              </option>
            </select>
          </div>
          <div class="col-md-3">
            <input
              type="number"
              formControlName="amount"
              class="form-control"
              placeholder="Kiekis"
            />
          </div>
          <div class="col-md-2">
            <select class="form-select" formControlName="unit">
              <option selected>Matavimo vienetai</option>
              <option value="1">vnt</option>
              <option value="2">kg</option>
              <option value="3">g</option>
              <option value="4">stikline</option>
              <option value="5">l</option>
            </select>
          </div>
          <div class="col-md-2 float-end">
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="deleteIngredients(i)"
            >
              Ištrinti Ingredientą
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-info" (click)="addIngredients()">
        Pridėti Ingredientą
      </button>

      <hr />

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!recipeForm.valid"
        [@btnAnimate]="validForm"
      >
        Pridėti
      </button>
    </form>
  </div>
</div>
